@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose-custom-style {
    @apply prose-strong:text-text prose-strong:font-bold prose-img:m-0 prose-img:py-4 prose-img:self-center prose-img:mx-auto prose-img:items-center prose-h1:text-text prose-h2:text-text prose-h3:text-text prose-h3:font-semibold  prose-p:text-text prose-blockquote:text-text prose-code:text-text prose-code:font-bold
  }
}

p,a {
  margin: 0;
  padding: 0;
}

.hover-delay {
  transition-delay: 0s;
}
.hover-delay:hover {
  transition: all 0.25s ease-in-out;
}

.ml-3 {
  margin-left: 0.75rem /* 12px */;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

p,
h1,
h2,
h3,
h4,
span {
  font-display: swap;
}
